/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* section design*/
section {
  padding: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s forwards;
}

/* transitions in h2 */
h2 {
  color: #6200ea;
  transition: all 0.3s ease-in-out;
}

h2:hover {
  color: #8a2be2;
  transform: scale(1.05);
}




/* Scroll-based animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

section:nth-child(1) {
  animation-delay: 0s;
}

section:nth-child(2) {
  animation-delay: 0.5s;
}

section:nth-child(3) {
  animation-delay: 1s;
}

section:nth-child(4) {
  animation-delay: 1.5s;
}

section:nth-child(5) {
  animation-delay: 2s;
}


/* header */
header {
  background: #6200ea;
  color: white;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header nav {
  margin-top: 0.5rem;
}

header nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
}

header nav a:hover {
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}

/* about Section */
.about-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about-container img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #6200ea;
}

.about-container div {
  flex: 1;
}

.about-container p {
  margin: 0;
}


/* Footer */
footer {
  background: #6200ea;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}


/* Projects albums */
.no-scroll {
  overflow: hidden;
}

.album-section {
  padding: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s forwards;
}

.open-btn:hover {
  background-color: #0056b3;
}

.gallery {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
}

.thumbnail {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, border 0.2s;
  border: 2px solid transparent;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.active-thumbnail {
  border: 2px solid yellow;
}

.album-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.album-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  font-size: 50px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}


/* Projects */
.projects-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  row-gap: 30px;
  justify-content: center;
  align-items: start;
  margin: 2rem auto;
  padding: 2rem;
}

.projects-grid .flip-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flip-container {
  perspective: 1000px;
  max-width: 250px;
  min-height: 275px;
}

.flip-box {
  width: 100%;
  min-height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  position: relative;
}

.flip-container:hover .flip-box {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  flex-direction: column;  
}

.flip-box-front {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 17px;
}

.flip-box-front p {
  flex-grow: 1; /* Allows text to take available space */
  overflow-wrap: break-word; /* Prevents text from overflowing */
  word-break: break-word;
}

.flip-box-front h3{
  margin: 0%;
  margin-top: 20px;
  color: rgb(24, 136, 170);
}

.flip-box-back {
  background-color: #2ecc71;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.open-btn a {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.open-btn a:hover {
  text-decoration: none;
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}


/* Links */
#Links .links-buttons {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, minmax(250px, 1fr));

}

#Links .links-buttons a{
  text-decoration: none;
  background: linear-gradient(135deg, #0077b6, #00b4d8);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 3px;  
}

#Links .links-buttons a:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#Links .links-buttons a:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
  #Links .links-buttons {
    grid-template-columns: 1fr;
  }
}


/* Skills */
.Skills-box{
  padding: 2rem;
  margin: 2rem auto;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.Skills-box h3{
  margin: 0%;
  color: rgb(24, 136, 170);
  transition: all 0.3s ease-in-out;
}

.Skills-box h3:hover{
  margin: 0%;
  color: rgb(111, 185, 214);
  transform: scale(1.05);
}

.Skills-grid{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  row-gap: 30px;
}

.Skills-grid img{
  width: 150px auto;
  height: 100px;
  object-fit: contain;
}

/* Adjust image layout for better responsiveness */
@media (max-width: 600px) {
  .Skills-grid {
    grid-template-columns: 1fr;
  }
}